/* .main {
    margin-top: 85px;
} */

.custom-navbar {
    transition: background-color 0.3s ease;
}

.custom-navbar .nav-link {
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
    color: #007bff !important;
}

.custom-navbar .btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
}

